@page "/categories/delete/{catId:int}"
@inject HttpClient http
@inject NavigationManager navigationManager
@inject IJSRuntime js

<h3>Delete</h3>

@if (category.Id != catId)
{
    <p>The category does not exist</p>
}
else
{
    <CategoriesForm ButtonText="Delete Category" Categories="@category" OnValidSubmit="@DeleteCategory" isReadOnly="true" />
}

@code {
    [Parameter] public int catId { get; set; }
    Categories category = new Categories();
    private HubConnection hubConnection;

    protected override async Task OnInitializedAsync()
    {
        category = await http.GetFromJsonAsync<Categories>($"api/categories/{catId}");
        hubConnection = new HubConnectionBuilder()
            .WithUrl(navigationManager.ToAbsoluteUri("/CategoryHub"))
            .Build();
        await hubConnection.StartAsync();
    }

    public bool isConnected => hubConnection.State == HubConnectionState.Connected;

    async Task DeleteCategory()
    {
        if (await js.InvokeAsync<bool>("confirm", $"Do you want to delete {category.Name}?"))
        {
            await http.DeleteAsync($"api/categories/{catId}");
            if (isConnected) await SendMessage();
            navigationManager.NavigateTo("categories");
        }
        else
        {
            navigationManager.NavigateTo("categories");
        }
    }

    Task SendMessage() => hubConnection.SendAsync("SendMessage");

    public void Dispose()
    {
        _ = hubConnection.DisposeAsync();
    }
}