@inherits LayoutComponentBase
@layout MainLayout
@using LCPECommerce.Client.Services
@inject IAccountService AccountService
@inject NavigationManager NavigationManager

<div class="col-md-6 offset-md-3 mt-5">
    @Body
</div>

@code {
    protected override void OnInitialized()
    {
        // redirect to home if already logged in
        if (AccountService.Client != null)
        {
            NavigationManager.NavigateTo("");
        }
    }
}